*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
}

.box{
    width: 200px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px black ;
}

.box img{
    width: 180px;
    margin: 10px 10px 0 10px;
    border-radius: 10px;
}

.box h3{
    background: hsl(47, 88%, 63%);
    width: 30%;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 2px;
    font-weight: 900;
}

.box h5{
    margin-left: 10px;
    margin-top: 7px;
    font-size: 10px;
    font-weight: 600;
}

.box h2{
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.box h2:hover{
    color: hsl(47, 88%, 63%);

}


.box p {
    font-size: 10px;
    color: gray;
    margin-left: 10px;
    margin-top: 15px;
}

/* #pic {
    width: 20px;
    margin-top: 20px;
}

.box h4{
    display: inline-block;
    font-size: 10px;
    
    
} */

#pic {
    width: 20px;
    margin-top: 20px;
    margin-right: 10px;
    vertical-align: middle; /* align the image vertically */
}

#pic + h4 {
    font-size: 14px;
    margin: 20px 0 0 0; /* Adjust the margin to align the heading */
    display: inline-block;
    vertical-align: middle; /* align the heading vertically */
}


